* {
    margin: 0; 
    padding: 0;

}
.links {
      text-transform: capitalize;
      padding: 30px;
      margin: 10px;
      display: flex;
      justify-content: space-evenly;
      border-radius: 3px;
      font-weight: bold;
       

      
 
}
a {
    text-decoration: none;
}
